.partner__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7.6rem;
  padding-bottom: 9.6rem;

  @include breakpoint($desktop) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include breakpoint($tablet) {
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
}

.partner__img {
  margin-left: 4rem;
  margin-top: 2rem;

  @include breakpoint($desktop) {
    margin-top: 3rem;
    width: 13.5rem;
  }

  @include breakpoint($tablet) {
    margin-left: 0;
  }
}