<header class="header">
  <div class="container">

    <div class="header__inner">
      <div class="header__inner-logo">
        <img src="assets/images/logo.png" alt="logo">
      </div>
      <div class="header__inner-menu">
        <img src="assets/images/menu.png" alt="menu">
      </div>
    </div><!-- /.header__inner -->

    <div class="header__title">
      <span class="orange">Smart</span>
      Agency Landing Page
    </div>
    <div class="header__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni quibusdam labore
      ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates doloremque rerum aspernatur dolorum at!
    </div>

    <div class="header__form">
      <div class="header__form-title">
        <span class="orange">Send</span>
        A Message
      </div>
      <input class="header__form-input" type="text" placeholder="Your Name">
      <input class="header__form-input" type="text" placeholder="Your Email">
      <input class="header__form-input header__form-input--message" type="text" placeholder="Your Message">
      <button type="button" class="header__form-btn">
        Send Message
        <img src="assets/images/arrow.png" alt="" class="form-img">
      </button>
    </div>

  </div><!-- /.container -->
</header><!-- /.header -->