<div class="partner">
  <div class="container">
    <div class="partner__inner">
      <img class="partner__img" src="assets/images/partner/linkedIn.png" alt="linkedin">
      <img class="partner__img" src="assets/images/partner/dribbble.png" alt="dribbble">
      <img class="partner__img" src="assets/images/partner/envato.png" alt="envato">
      <img class="partner__img" src="assets/images/partner/linkedIn.png" alt="linkedin">
      <img class="partner__img" src="assets/images/partner/dribbble.png" alt="dribbble">
      <img class="partner__img" src="assets/images/partner/envato.png" alt="envato">
    </div>
  </div>
</div>