<div class="process">
  <div class="container">
    <div class="process__inner">

      <div class="process__item blue">
        <div class="process__item-img">
          <img src="assets/images/process/process-1.png" alt="icon">
        </div>
        <div class="process__item-title">Koc Koi Tomi</div>
        <div class="process__item-text">Lorem ipsum is dummy lorem very dumy</div>
        <button class="page__item-btn">
          <img src="assets/images/process/plus.svg" alt="icon">
          <div class="page__text">Know More</div>
        </button>
      </div>
      <div class="process__item purple">
        <div class="process__item-img">
          <img src="assets/images/process/process-2.png" alt="icon">
        </div>
        <div class="process__item-title">Koimona Set</div>
        <div class="process__item-text">Lorem ipsum is dummy you   lorem very dumyL is </div>
        <button class="page__item-btn">
          <img src="assets/images/process/plus.svg" alt="icon">
          <div class="page__text">Know More</div>
        </button>
      </div>
      <div class="process__item wave">
        <div class="process__item-img">
          <img src="assets/images/process/process-3.png" alt="icon">
        </div>
        <div class="process__item-title">Setting Koire</div>
        <div class="process__item-text">Lorem ipsum is dummy lorem very yLorem ipsus </div>
        <button class="page__item-btn">
          <img src="assets/images/process/plus.svg" alt="icon">
          <div class="page__text">Know More</div>
        </button>
      </div>
      <div class="process__item pink">
        <div class="process__item-img">
          <img src="assets/images/process/process-4.png" alt="icon">
        </div>
        <div class="process__item-title">Ko Image Lara</div>
        <div class="process__item-text">Lorem ipsum is dummy ry dumyLorem ipsum is </div>
        <button class="page__item-btn">
          <img src="assets/images/process/plus.svg" alt="icon">
          <div class="page__text">Know More</div>
        </button>
      </div>

    </div><!-- /.process__inner -->
  </div><!-- /.container -->
</div><!-- /.process -->