<div class="container">
  <div class="reviews">

    <div class="page__title"><span class="orange">Clients</span> Said</div>
    <div class="page__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</div>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Slides -->

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Kita Say</div>
            <div class="author__prof">, HK Director</div>
          </div>
    
        </div><!-- /.rev__card -->

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Al Rayhan</div>
            <div class="author__prof">, UX Director</div>
          </div>
    
        </div><!-- /.rev__card -->

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Kita Say</div>
            <div class="author__prof">, HK Director</div>
          </div>
    
        </div><!-- /.rev__card -->

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Al Rayhan</div>
            <div class="author__prof">, UX Director</div>
          </div>
    
        </div><!-- /.rev__card -->

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Kita Say</div>
            <div class="author__prof">, HK Director</div>
          </div>
    
        </div><!-- /.rev__card -->

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Al Rayhan</div>
            <div class="author__prof">, UX Director</div>
          </div>
    
        </div><!-- /.rev__card -->     

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Kita Say</div>
            <div class="author__prof">, HK Director</div>
          </div>
    
        </div><!-- /.rev__card -->

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Al Rayhan</div>
            <div class="author__prof">, UX Director</div>
          </div>
    
        </div><!-- /.rev__card -->

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Kita Say</div>
            <div class="author__prof">, HK Director</div>
          </div>
    
        </div><!-- /.rev__card -->

        <div class="swiper-slide rev__card">

          <img src="https://placehold.it/99x99" alt="" class="rev__card-avatar">
          <p class="rev__card-text">
            “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          </p>
          <div class="rev__card-rating">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
            <img src="assets/images/reviews/star.svg" alt="" class="ratings__star">
          </div>
          <div class="rev__card-author">
            <div class="author__name">Al Rayhan</div>
            <div class="author__prof">, UX Director</div>
          </div>
    
        </div><!-- /.rev__card -->

      </div>
      <div class="swiper-button-prev">
        <img src="assets/images/reviews/arrow.svg" alt="">
      </div>
      <div class="swiper-button-next">
        <img src="assets/images/reviews/arrow.svg" alt="">
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>