<div class="container">
  <div class="service">

    <div class="service__block">

      <div class="service__block-icons">

        <div class="block__icons-item">
          <img src="assets/images/icon-1.png" alt="" class="block-icon">
        </div>
        <div class="block__icons-item">
          <img src="assets/images/icon-2.png" alt="" class="block-icon">
        </div>
        <div class="block__icons-item">
          <img src="assets/images/icon-3.png" alt="" class="block-icon">
        </div>
        <div class="block__icons-item">
          <img src="assets/images/icon-1.png" alt="" class="block-icon">
        </div>

      </div>

      <div class="service__block-info">
        <div class="block__info-title">Modern App Design</div>
        <p class="block__info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad
          sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla
          illo aperiam itaque cumque.

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.
        </p>
        <button class="page__item-btn page__item-btn--service">
          <img src="assets/images/process/plus.svg" alt="icon">
          <div class="page__text">Know More</div>
        </button>
      </div>

    </div><!-- /.service__block -->

    <div class="service__img">
      <img class="apple-watch" src="assets/images/apple-watch.png" alt="">
    </div>

  </div><!-- /.service -->
</div><!-- /.container -->