<div class="container">
  <div class="team">

    <div class="team__item">
      <h2 class="team__item-title">UI/UX Design</h2>
      <progress min="0" max="100" value="60" class="team__item-progress"></progress>
      <h2 class="team__item-title">English</h2>
      <progress min="0" max="100" value="75" class="team__item-progress"></progress>
      <h2 class="team__item-title">Communication</h2>
      <progress min="0" max="100" value="48" class="team__item-progress"></progress>
      <div class="team__item-card">
        <div class="team__item-name">Bedi Manos</div>
        <div class="team__item-prof">UI/UX Parena</div>
      </div>
      <div class="team__item-social">
        <a href="https://www.behance.net/" target="_blank">
          <img src="assets/images/social/behance.svg" alt="" class="team__item-icon">
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <img src="assets/images/social/facebook.svg" alt="" class="team__item-icon">
        </a>
        <a href="https://twitter.com/?lang=ru" target="_blank">
          <img src="assets/images/social/twitter.svg" alt="" class="team__item-icon">
        </a>
      </div>
    </div>

    <div class="team__item">
      <h2 class="team__item-title">UI/UX Design</h2>
      <progress min="0" max="100" value="80" class="team__item-progress"></progress>
      <h2 class="team__item-title">English</h2>
      <progress min="0" max="100" value="85" class="team__item-progress"></progress>
      <h2 class="team__item-title">Communication</h2>
      <progress min="0" max="100" value="88" class="team__item-progress"></progress>
      <div class="team__item-card">
        <div class="team__item-name">Al Rayhan</div>
        <div class="team__item-prof">UI/UX Designer</div>
      </div>
      <div class="team__item-social">
        <a href="https://www.behance.net/" target="_blank">
          <img src="assets/images/social/behance.svg" alt="" class="team__item-icon">
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <img src="assets/images/social/facebook.svg" alt="" class="team__item-icon">
        </a>
        <a href="https://twitter.com/?lang=ru" target="_blank">
          <img src="assets/images/social/twitter.svg" alt="" class="team__item-icon">
        </a>
      </div>
    </div>

    <div class="team__item">
      <h2 class="team__item-title">UI/UX Design</h2>
      <progress min="0" max="100" value="70" class="team__item-progress"></progress>
      <h2 class="team__item-title">English</h2>
      <progress min="0" max="100" value="65" class="team__item-progress"></progress>
      <h2 class="team__item-title">Communication</h2>
      <progress min="0" max="100" value="78" class="team__item-progress"></progress>
      <div class="team__item-card">
        <div class="team__item-name">Ali Sayed</div>
        <div class="team__item-prof">UI/UX Designer Team Lead</div>
      </div>
      <div class="team__item-social">
        <a href="https://www.behance.net/" target="_blank">
          <img src="assets/images/social/behance.svg" alt="" class="team__item-icon">
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <img src="assets/images/social/facebook.svg" alt="" class="team__item-icon">
        </a>
        <a href="https://twitter.com/?lang=ru" target="_blank">
          <img src="assets/images/social/twitter.svg" alt="" class="team__item-icon">
        </a>
      </div>
    </div>

  </div><!-- /.team -->
</div><!-- /.container -->