<div class="container">
  <div class="works__container">

    <div class="works__item">
      <img src="assets/images/work-1.png" alt="" class="works__img">
    </div>
    <div class="works__item">
      <img src="assets/images/work-1.png" alt="" class="works__img">
    </div>
    <div class="works__item">
      <img src="assets/images/work-1.png" alt="" class="works__img">
    </div>
    <div class="works__item">
      <img src="assets/images/work-1.png" alt="" class="works__img">
    </div>
    <div class="works__item">
      <img src="assets/images/work-1.png" alt="" class="works__img">
    </div>
    <div class="works__item">
      <img src="assets/images/work-1.png" alt="" class="works__img">
    </div>
    <div class="works__item">
      <img src="assets/images/work-1.png" alt="" class="works__img">
    </div>
    <div class="works__item">
      <img src="assets/images/work-1.png" alt="" class="works__img">
    </div>
    <div class="works__item">
      <img src="assets/images/work-1.png" alt="" class="works__img">
    </div>

  </div><!-- /.works__container -->
</div><!-- /.container -->